.create-form {
    margin: 10px;
}

.create-form input {
    min-width: 40%;

    margin-bottom: 5px;
}

.create-form label {
    width: 40%;
}

.create-form button {
    margin: 5px;
}

.user-list button {
    min-width: 60px;

    margin: 5px;
}


.edit-form, .password-form {
    width: 60%;

    margin: auto;
}

.edit-form input, .password-form input {
    width: 70%;

    margin-bottom: 5px;
}

.edit-form label, .password-form label {
    width: 40%;
}

.edit-form button {
    min-width: 60px;

    margin: 5px;
}

/* ========================================================================== */

@media only screen and (max-width: 1250px) {
    .edit-form, .password-form {
        width: 100%;
    }
}


@media only screen and (max-width: 900px){

    .create-form input {
        min-width: 60%;
    }

    

    .threeColumns>main table {
        box-sizing: border-box;
        overflow-x: scroll;
        display: block;
    }
}