table {

    margin: 25px auto  auto auto;

    border-collapse: collapse;

}

thead {
    background-color: var(--accent-color);

    color: var(--inverse-text-color);

}

tbody td {
    border-collapse: separate;
    border: 1px solid black;
}

tr:nth-child(even){
    background-color: lightgray;
}

td {
    padding: 5px;
}