.create-form {
    margin: var(--medium-spacing);
}

.create-form input {
    min-width: 40%;

    margin-bottom: var(--small-spacing);
}

.create-form label {
    width: 40%;
}

.create-form button {
    margin: var(--small-spacing);
}

.user-list button, .edit-form button {
    min-width: 60px;

    margin: var(--small-spacing);
}


.edit-form, .password-form {
    width: 60%;

    margin: auto;
}

.edit-form input, .password-form input {
    width: 70%;

    margin-bottom: var(--small-spacing);
}

.edit-form label, .password-form label {
    width: 40%;
}

/* ========================================================================== */

@media only screen and (max-width: 1250px) {
    .edit-form, .password-form {
        width: 100%;
    }
}

@media only screen and (max-width: 900px){
    .create-form input {
        min-width: 60%;
    }

    .threeColumns>main table {
        box-sizing: border-box;
        
        display: block;
        overflow-x: scroll;
    }
}