table {
    margin: 0px;
}

.youRow {
    font-weight: bold;
}

.playButtons button {
    margin: var(--small-spacing);

    font-size: larger;
}

.tutorial {
    margin-top: var(--big-spacing);
    padding: var(--medium-spacing);

    background-color: var(--secondary-color);

    text-align: left;

    border: 2px solid var(--accent-color);

    box-shadow: var(--shadow);
}

.tutorial h3 {
    margin-top: 0px;
}

.tutorial p {
    margin-bottom: var(--small-spacing);
}