header {
    padding: var(--small-spacing);

    background-color: var(--accent-color);

    color: var(--inverse-text-color);
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

header span, header button {
    margin-right: var(--medium-spacing);
}