.questionSet {
    width: max-content;
    max-width: 80%;

    margin: auto;
    padding-bottom: 10px;
    
    box-shadow: var(--shadow);

    text-align: left;
}


.questionSet .imgDiv {
    background-color: var(--accent-color);
    padding: 25px;
}

.questionSet img {
    object-fit: cover;
    display: block;

    margin: auto;
    height: 60vh;
    border-radius: 100%;
    box-shadow: var(--shadow);
    transform-origin: top;
    transform: scale(1);
    transition: 0.3s;}

.questionSet img:hover {
    transform: scale(1.5);
}

.questionSet article {
    padding: 10px;
    margin-bottom: 2px;
}

.questionSet article.correct {
    border-left: 2px solid greenyellow;
    background-color: #adff2f30;
}

.questionSet article.incorrect {
    border-left: 2px solid red;
    background-color: #ff000030;
}


.questionSet h5 {
    margin-top: 5px;
    margin-bottom: 5px;

    text-decoration: underline;
    font-size: large;
}

.questionSet .answerGrid {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
}

.questionSet button.selectedAnswer {
    background-color: lightgrey;
}

.questionSet button.correctAnswer {
    background-color: greenyellow;
}

.questionSet button.incorrectAnswer {
    background-color: red;
}

.questionSet .actionsDiv {
    text-align: center;
}

.questionSet button {
    margin: 0px 5px;
}