.questionSet {
    width: max-content;
    max-width: 80%;

    margin: auto;
    padding-bottom: var(--medium-spacing);
    
    box-shadow: var(--shadow);

    text-align: left;
}


.questionSet .imgDiv {
    background-color: var(--accent-color);

    padding: var(--big-spacing);
}

.questionSet img {
    margin: auto;

    object-fit: cover;
    display: block;

    border-radius: 100%;

    box-shadow: var(--shadow);
}

.questionSet article {
    margin-bottom: 2px;
    padding: var(--medium-spacing);
}

.questionSet article.correct {
    background-color: hsla(84, 100%, 50%, 0.246);

    border-left: 2px solid greenyellow;
}

.questionSet article.incorrect {
    background-color: hsla(0, 100%, 50%, 0.188);

    border-left: 2px solid red;
}


.questionSet h5 {
    margin-top: var(--small-spacing);
    margin-bottom: var(--small-spacing);

    font-size: large;
    text-decoration: underline;
}

.questionSet .answerGrid {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
}

.questionSet button.selectedAnswer {
    background-color: var(--inverse-text-color);

    color: var(--text-color);
}

.questionSet button.correctAnswer {
    background-color: greenyellow;
}

.questionSet button.incorrectAnswer {
    background-color: red;
}

.questionSet .actionsDiv {
    text-align: center;
}

.questionSet button {
    margin: 0px var(--small-spacing);
}

/* ========================================================================== */

@media only screen and (max-width: 1250px) {
    .questionSet {
        max-width: 100%;
    }
}

@media only screen and (max-width: 900px){
    .questionSet img {
        width: 100%;
    }
}

/* ========================================================================== */

.questionSet button:hover{
    background-color: var(--inverse-text-color);

    color: var(--text-color);
}

.incorrect button, .correct button {
    pointer-events: none;
}